@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url('https://v1.fontapi.ir/css/Yekan');
@import url('https://v1.fontapi.ir/css/Shabnam');

body {
	margin: 0;
	padding: 0;
}
#__next {
	display:flex;
	flex-direction: column;
	min-height: 100vh;
}
