.stat_counter_container{
	width:100%;
	padding:5rem 0;
	background: linear-gradient(to right, rgba(50, 70, 80, 0.7), rgba(30, 20, 150, 0.7)),url(http://eventamin.com:4000/uploads/images/exhibition2.jpg);
	background-position: bottom;
	background-size: cover;
}
